#deviceList {
  text-align: center;
}

#searchSongs {
  text-align: center;
}

#results  {
  float:left;
  width:65%;
  text-align: center;
}

#songList {
  height: 55vh;
  overflow:scroll;
  text-align: center;
}

#queue {
  float:right;
  width:35%;
  text-align: center;
}

#queueList {
  height: 55vh;
  overflow:scroll;
  text-align: center;
}

#player {
  display: none;
}

#queued {
  float:left;
  width:50%;
  text-align: center;
}

#playerList  {
  height: 70vh;
  overflow:scroll;
  text-align: center;
}

#playedList  {
  height: 70vh;
  overflow:scroll;
  text-align: center;
}

#played {
  float:right;
  width:50%;
  text-align: center;
}

#playback {
  text-align: center;
}

#fire {
  z-index: -1;
  position: absolute;
}

#title {
  position: relative;
}

@keyframes fail {
  25%, 75% {
     background-color: #ff7878;
  }
  0%, 25%, 100% {
     background-color: white;
  }
}

.fail {
  animation: fail 0.3s;
}

@keyframes success {
  25%, 75% {
     background-color: #7fed79;
  }
  0%, 25%, 100% {
     background-color: white;
  }
}

.success {
  animation: success 0.3s;
}

#searchButton, #playButton  {
  margin: 3vw;
  padding: 2vw 6vw;
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  background-color: white;
  outline: none;
}

.addSongButton, .addDeviceButton, #saveButton {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5vw;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  background-color: white;
  margin-top: 1vw;
  padding: 0.5vw 5vw;
  outline: none;
}

.search {
  text-align: center;
}

.pageTitle {
  margin: 0.5vw;
  text-align: center;
}

.login {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 9vw;
  z-index: 10;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 4vw;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
}

label {
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
}

input {
  font-family: 'Lato', sans-serif;
  float:left;
  font-size: 3vw;
  border-width: thin;
  border-color: black;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
  text-align: center;
}

.field label {
  display: inline-block;
  text-align: center;
  padding-bottom: 2vw;
}

.field input {
  width: 100%;
}

.field {
  margin: auto;
  width: 25vw;
  margin: 1vw;
  display: inline-block;
}

.song {
  font-family: 'Quicksand', sans-serif;
  margin: 3vw;
  font-size: 2.5vw;
}

.song p {
  margin: 0.5vw;
}
