* { 
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  background-color: #e8d399;
  overflow-y: hidden;
  overflow-x: hidden; 
}

.header {
  background-color: #ad490a;
  font-family: 'Baloo Bhaina 2';
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

.header-title {
  font-size: 2.5vh;
  margin-left: 1vh;
  color: #e8d399;
}

.header-profile {
  font-size: 1vh;
  margin-right: 1vh;
  color: #e8d399;
  display: flex;
  align-items: center
}

.header-profile-picture { 
  width: 8vh;
  height: 8vh;
  margin-left: 1vh;
  border-radius: 50%;
}

.nav {
  background-color: #ba591e;
  width: 100vw;
  height: 4vh;
  border-style: solid;
  border-color: #ad490a;
  border-width: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-button {
  font-family: 'Baloo Bhaina 2';
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 2.5vh;
  margin-left: 1vh;
  margin-right: 5vh;
  margin-top: 1vh;
  color: #e8d399;
  transition: color 0.5s;
}

.nav-button:hover {
  color: #e8d399cc 
}

.browse {
  display: flex;
  align-items: center;
}

.browse-playlists {
  height: 87vh;
  width: 20vw;
  background-color: #dbc588;
  display: flex;
  flex-direction: column;
  border-right: #ad480ac4 1px solid;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.browse-playlists::-webkit-scrollbar {
  display: none;
}

.browse-playlists-button {
  font-family: 'Baloo Bhaina 2';
  background-color: transparent;
  background-repeat:no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;
  border-bottom: #ad480ac5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 2vh;
  color: #ad490a;
  text-align: left;
  padding-left: 1vw;
  transition: background-color 1s;
}

.browse-playlists-button:hover {
  background-color: #ad480a33
}

.browse-playlist {
  height: 85vh;
  width: 70vw;
  padding: 1vh;
}

.browse-playlist-title {
  margin-left: 1vh;
  margin-bottom: 1vh;
}

.browse-songs {
  height: 75vh;
  overflow-y: auto;
}

.browse-songs::-webkit-scrollbar {
  display: none;
}

.browse-song {
  border-bottom: #ba5a1e7e 1px solid;
  display: flex;
  justify-content: left;
  margin-left: 3vh;
  margin-right: 5vh;
}

.browse-song-cell {
  width: 15vw;
  display: flex;
  justify-content: left;
  margin: 2px;
}

.browse-queue {
  height: 87vh;
  width: 30vw;
  border-left-style: solid;
  border-left-color: #ba591e;
  border-left-width: 1px;
}

.login {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginButton {
  width: 35vh;
  height: 15vh;
  font-family: 'Baloo Bhaina 2';
  font-weight: 600;
  font-size: 25px;
  background-color: #ad490a;
  color: #e8d399;
  border: none;
  border-radius: 5px;
  margin-bottom: 10vh;
}

h2 {
  font-family: 'Baloo Bhaina 2';
  font-weight: 600;
  color: #c24a00;
}

h3 {
  font-family: 'Baloo Bhaina 2';
  font-size: 2.5vh;
  font-weight: 600;
  margin-left: 1vh;
  color: #ba591e;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2vh;
  color: #ba591e;
  padding: 0;
  margin: 0;
}