* { 
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  background-color: #e8d399;
  overflow-y: hidden;
  overflow-x: hidden; 
}

.header {
  background-color: #ad490a;
  font-family: 'Baloo Bhaina 2';
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

.header-title {
  font-size: 2.5vh;
  margin-left: 1vh;
  color: #e8d399;
}

.header-profile {
  font-size: 1vh;
  margin-right: 1vh;
  color: #e8d399;
}

.nav {
  background-color: #ba591e;
  width: 100vw;
  height: 4vh;
  border-style: solid;
  border-color: #ad490a;
  border-width: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-button {
  font-family: 'Baloo Bhaina 2';
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 2.5vh;
  margin-left: 1vh;
  margin-right: 5vh;
  margin-top: 1vh;
  color: #e8d399;
}

.content {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchButton {
  width: 35vh;
  height: 15vh;
  font-family: 'Baloo Bhaina 2';
  font-size: 25px;
  background-color: #ad490a;
  color: #e8d399;
  border: none;
  border-radius: 5px;
  margin-bottom: 10vh;
}

h2 {
  font-family: 'Baloo Bhaina 2';
  color: #c24a00;
}